.about {
    background-color: #0e041b;
    display: grid;
    padding-top: 10%;
    grid-template-columns: 0.8fr 1.2fr ;
}
img {
    width: 90%;
    margin-left: 10%;
    margin-top: -2%;
}
h1 {
    font-size: 5vw;
    margin-bottom: -2%;
    text-align: center;
    color:#ef87cc;
    font-family: 'Caveat', cursive;
}
.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;

margin-top: -10%;
margin-right: 5%;
}
.about_me {
   font-size: 1.5vw;
   color: white;
}