<div class="about">
    <div class="image">
        <img src="eya.png" alt="">
    </div>
    <div class="text">
        <h1>About Me</h1>
        <p>I’m a final-year engineering student at ENSI.
            I’m interested in web development, as well as AI, and integrating AI tools into web development</p>
        <h5>Education Background :</h5>
        <p>* 2022-Now :  Engineering cycle at the National School of Computer Sciences (ENSI)        </p>
        <p>* 2020-2022: Preparatory cycle at the Preparatory Institute for Engineering
            Studies of Sfax(IPEIS)</p>
    </div>
</div>