<div class="experiences">
    <h1>My Professional experiences : </h1>
    <div class="exp1">
        <div class="text1">
            <h3>June,July 2023</h3>
            <h4>Internship at Telnet Holding</h4>
            <p>I contribute to do test automation for E-payment operation</p>
        </div>
        <div class="image1"><img src="telnett.png" alt=""></div>
    </div>
    <div class="exp2">
        <div class="text1">
            <h3>June,July 2023</h3>
            <h4>Internship at Telnet Holding</h4>
            <p>I contribute to do test automation for E-payment operation</p>
        </div>
        <div class="image2"><img src="finlogik.png" alt=""></div>

    </div>
</div>