<div class="projects">
<h1>Projects</h1>
<div class="projects_desc">
<div class="project1">
    <div class="image">
        <img src="cozy.png" alt="">
    </div>
    <div class="text">
        <h2>Cozy</h2>
        <p>This project analyzes the most searched cosmetic products and adapts the offer by designing and developing a user-friendly platform </p>
        <p><span class="technologies">Technologies : </span> Html , Css , JS , Php</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
</div>
<div class="project2">
    <div class="text">
        <h2>Accesso</h2>
        <p>Accesso is a dynamic e-commerce platform dedicated to selling trendy accessories, designed with a user-friendly interface to enhance the shopping experience. This project aims to provide a seamless and engaging online shopping experience for users. </p>
        <p><span class="technologies">Technologies : </span>  Angular , .NET , SQL Server</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
    <div class="image">
        <img src="accesso2.png" alt="">
    </div>
</div>
<div class="project1">
    <div class="image">
        <img src="multi.png" alt="" style="height: 70%;">
    </div>
    <div class="text">
        <h2>MultiServices</h2>
        <p>The Multiservices project is an innovative web platform designed to connect users with a variety of service providers, including electricians, cleaners, and more.The application allows service providers to create accounts and showcase their work, making it easier for users to find the services they need. </p>
        <p><span class="technologies">Technologies : </span> Angular18 , .NET , SQL Server</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
</div>
<div class="project2">
    <div class="text">
        <h2>Portfolio</h2>
        <p>It's a simple personal portfolio that I built from scratch to showcase my skills and interests while practicing Angular
        </p>
        <p><span class="technologies">Technologies : </span> Angular 17</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
    <div class="image">
        <img src="portfolio.png" alt="">
    </div>
</div>
<div class="project1">
    <div class="image">
        <img src="mindfulu.png" alt="">
    </div>
    <div class="text">
        <h2>MindfulU</h2>
        <p>It's a mental health application designed to help students navigate their mental health challenges, offering a variety of features, including the integration of a chatbot. I’m working on this project as part of a team, with my main responsibility focused on creating and integrating the chatbot into the application.</p>
        <p><span class="technologies">Technologies : </span> Flutter , Firebase , RASA , Python</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
</div>

</div>
</div>