.projects {
    background-color: #0e041b;
    height: auto;
    margin-top: -1%;
    padding-top: 5%;
}
h1 {
    font-size: 5vw;
    color: #ef87cc;
    font-family: 'Caveat', cursive;
    margin-left: 5%;
}
.project1{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 30% 70% ;
    padding-left: 5%;
    padding-right: 5%;
}
.project1 .text > h2{
color: #ef87cc;
font-size: 2.5vw;
}
.project1 .technologies {
    color: #ef87cc;
    font-size: 1.5vw;
}
.project2 {
    margin-top: 3%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.project2 .text > h2 {
    color: #c180ee;
    font-size: 2.5vw;
}

.project2 .technologies {
    color: #c180ee;
    font-size: 1.5vw;
}

img {
    width: 100%;
    height: 80%;
    margin-top: 50px;
}
p {
    font-size: 1.5vw;
    color: whitesmoke;
}
.text {
    margin-left: 10%;
    margin-top: 5%;
}
/* Buttons */
.demo {
    width: 100px;
    background: linear-gradient(90deg,#e92efb  ,#7027a4 );
    border-radius: 20px;
    padding: 12px;
    border: none;
    cursor: pointer;
}
.github {
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    border: 3px solid white;
    cursor: pointer;
    background-color: transparent;
    color: white;
    margin-left: 2%;
}
button:hover {
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0.15); /* Ombre lors du survol */
    transform: scale(1.02);
}