<div class="projects">
<h1>Projects</h1>
<div class="projects_desc">
<div class="project1">
    <div class="image">
        <img src="pc.png" alt="">
    </div>
    <div class="text">
        <h2>Cozy</h2>
        <p>My project analyzes the most searched cosmetic products and adapts the offer by designing and developing a user-friendly platform </p>
        <p><span class="technologies">Technologies : </span> Html , Css , JS , Php</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
</div>
<div class="project2">
    <div class="text">
        <h2>Accesso</h2>
        <p>My project analyzes the most searched cosmetic products and adapts the offer by designing and developing a user-friendly platform </p>
        <p><span class="technologies">Technologies : </span> Html , Css , JS , Php</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
    <div class="image">
        <img src="pc.png" alt="">
    </div>
</div>
<div class="project1">
    <div class="image">
        <img src="pc.png" alt="">
    </div>
    <div class="text">
        <h2>MultiServices</h2>
        <p>My project analyzes the most searched cosmetic products and adapts the offer by designing and developing a user-friendly platform </p>
        <p><span class="technologies">Technologies : </span> Html , Css , JS , Php</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
</div>
<div class="project2">
    <div class="text">
        <h2>Portfolio</h2>
        <p>My project analyzes the most searched cosmetic products and adapts the offer by designing and developing a user-friendly platform </p>
        <p><span class="technologies">Technologies : </span> Html , Css , JS , Php</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
    <div class="image">
        <img src="pc.png" alt="">
    </div>
</div>
<div class="project1">
    <div class="image">
        <img src="phone.png" alt="">
    </div>
    <div class="text">
        <h2>MindfulU</h2>
        <p>My project analyzes the most searched cosmetic products and adapts the offer by designing and developing a user-friendly platform </p>
        <p><span class="technologies">Technologies : </span> Html , Css , JS , Php</p>
        <button class="demo">Demo</button>
        <button class="github">Github</button>
    </div>
</div>









</div>
</div>