<div class="contact_comp">
    <h1>Feel Free To contact Me !</h1>
    <div class="contact">
    <div class="form">
        <div class="text2">
          <label for="Email">Email :</label>
          <input type="email" id="Email">
          <label for="question">Message :</label>
          <input type="text" id="question">
          <button>Envoyer</button>
      </div>
        <div class="social-icons">
            <!-- GitHub -->
            <a href="https://github.com/your-profile" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn -->
            <a href="https://linkedin.com/in/your-profile" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <!-- Instagram -->
            <a href="https://instagram.com/your-profile" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <!-- Instagram -->
            <a href="https://instagram.com/your-profile" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
    </div>
</div>