<div class="contact">
    <h1>Feel Free To contact Me </h1>
    <div class="container">
    <div class="form">
        <form action="">
            <label for="Email">Email</label>
            <input type="email" name="name" id="">
            <label for="text">Message</label>
            <input type="text" name="text" id="">
            <button>Send</button>
        </form>
    </div>
        <div class="social-icons">
            <h1>Ayaaaaaaaaa</h1>
            <!-- Instagram -->
            <a href="https://instagram.com/your-profile" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          
            <!-- GitHub -->
            <a href="https://github.com/your-profile" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          
            <!-- LinkedIn -->
            <a href="https://linkedin.com/in/your-profile" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
    </div>
</div>