.skills {
    background-color: #0e041b;
    margin-top: -5%;
    text-align: center;
    height: 800px;
    padding-top: 8%;
}
h1 {
    font-size: 5vw;
    color: #ef87cc;
    font-family: 'Caveat', cursive;
}
.skills_name {
    padding-top: 5%;
    background-color: rgba(255, 255, 255, 0.091);
    width: 70%;
    margin-left: 10%;
    height: auto;
    gap: 2%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.ligne {
    width: 80%;
    margin-top: 2%;
    margin-left:4%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.skill {
    padding-top: 10px;
    border: 2px solid #ef87cc;
    box-shadow: 0.5px 1px rgba(255, 255, 255, 0.393);
    height: 80px;
    width: 100px;
    color: white;
    cursor: pointer;

}
.skill:hover {
    background:linear-gradient(45deg,#7027a49f, #ea2efb91 ,#ea2efb91);
    transition-duration: 5s;
    transform-style: flat;

}
.skill > img {
    width: 50%;
    height: 50%;
}