<div class="skills">
    <h1>My Technical Skills</h1>
    <div class="skills_name">
        <!-- ligne 1 -->
        <div class="ligne">
          <div class="skill">
            <img src="cpp.png" alt="">
            <p>C++</p> </div>
          <div class="skill">
                <img src="cpp.png" alt="">
                <p>C++</p> </div>
          <div class="skill">
                <img src="cpp.png" alt="">
                <p>C++</p> </div>
          <div class="skill">
                <img src="cpp.png" alt="">
                <p>C++</p></div>
                <div class="skill">
                    <img src="cpp.png" alt="">
                    <p>C++</p></div>
          </div>
        <!-- ligne 1 -->
        <div class="ligne">
            <div class="skill">
              <img src="cpp.png" alt="">
              <p>C++</p> </div>
            <div class="skill">
                  <img src="cpp.png" alt="">
                  <p>C++</p> </div>
            <div class="skill">
                  <img src="cpp.png" alt="">
                  <p>C++</p> </div>
            <div class="skill">
                  <img src="cpp.png" alt="">
                  <p>C++</p></div>
                  <div class="skill">
                      <img src="cpp.png" alt="">
                      <p>C++</p></div>
            </div>
        <!-- ligne 1 -->
        <div class="ligne">
            <div class="skill">
              <img src="cpp.png" alt="">
              <p>C++</p> </div>
            <div class="skill">
                  <img src="cpp.png" alt="">
                  <p>C++</p> </div>
            <div class="skill">
                  <img src="cpp.png" alt="">
                  <p>C++</p> </div>
            <div class="skill">
                  <img src="cpp.png" alt="">
                  <p>C++</p></div>
                  <div class="skill">
                      <img src="cpp.png" alt="">
                      <p>C++</p></div>
            </div>
        </div>
    </div>
