<div class="skills">
    <h1>My Technical Skills</h1>
    <div class="skills_name">
        <!-- ligne 1 -->
        <div class="ligne">
          <div class="skill">
            <img src="cpp.png" alt="">
            <p>C++</p> </div>
          <div class="skill">
                <img src="c.png" alt="">
                <p>C</p> </div>
          <div class="skill">
                <img src="cs.png" alt="">
                <p>C#</p> </div>
          <div class="skill">
                <img src="java.jpg" alt="">
                <p>Java</p></div>
                <div class="skill">
                    <img src="python.png" alt="">
                    <p>Python</p></div>
          </div>
        <!-- ligne 1 -->
        <div class="ligne">
            <div class="skill">
              <img src="html.png" alt="">
              <p>Html</p> </div>
            <div class="skill">
                  <img src="css.png" alt="">
                  <p>Css</p> </div>
            <div class="skill">
                  <img src="typescript.png" alt="">
                  <p>TS</p> </div>
            <div class="skill">
                  <img src="js.png" alt="">
                  <p>JS</p></div>
                  <div class="skill">
                      <img src="angular.png" alt="">
                      <p>Angular</p></div>
            </div>
        <!-- ligne 1 -->
        <div class="ligne">
            <div class="skill">
              <img src="NetCore.png" alt="">
              <p>.NET</p> </div>
            <div class="skill">
                  <img src="springBoot.png" alt="">
                  <p>SpringBoot</p> </div>
            <div class="skill">
                  <img src="rasa.png" alt="">
                  <p>Rasa</p> </div>
            <div class="skill">
                  <img src="tensorflow.png" alt="">
                  <p>TensorFlow</p></div>
                  <div class="skill">
                      <img src="github.png" alt="">
                      <p>Github</p></div>
            </div>
        </div>
    </div>
