<div id="scrollIndicator"></div>
<div class="nav">
    <div><h1 class="title" style="margin-left: 5%;">EYA.</h1></div>
    <div><nav> 
        <ul>
          <li style="color: #e92efb;">Portfolio_List = [ </li>
          <li><a (click)="scrollToSection('about')">About ,</a></li>
          <li><a (click)="scrollToSection('skills')">Skills ,</a></li>
          <li><a (click)="scrollToSection('experiences')">Experiences ,</a></li>
          <li><a (click)="scrollToSection('projects')">Projects ,</a></li>
          <li><a (click)="scrollToSection('social-competitions')">Social Life ,</a></li>
          <li><a (click)="scrollToSection('contact')">Contact</a></li>
          <li style="color: #e92efb;"> ]</li>
        </ul>
      </nav>
      </div>
      
</div>
<app-home></app-home>
