#scrollIndicator {
    position: fixed;
    top: 0;
    right: 10%;
    left: 0.75%;
    width: 0%; /* Start with 0% width */
    height: 4px; /* Adjust thickness of the bar */
    background: linear-gradient(90deg,#7027a4, #e92efb );; /* Set the color of the indicator */
    z-index: 99; /* Make sure it stays on top */
  }
  .nav {
    margin-top: -1%;
    background-color: #0e041b;
    color: #e92efb;
    font-family: Caveat;
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
    padding: 1%;
}

nav {
  margin-left: 40%;
  margin-top: 3%;
  width: 80%;
  color: white;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 5px;
  font-size: 2vw;

}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 1.5vw;
  cursor: pointer;
}
nav a:hover {
  text-decoration: none;
  color: #ef87cc;
  font-weight: 200;
  cursor: pointer;
}
