#scrollIndicator {
    position: fixed;
    top: 0;
    right: 30px;
    left: 3px;
    width: 0%; /* Start with 0% width */
    height: 4px; /* Adjust thickness of the bar */
    background: linear-gradient(90deg,#7027a4, #e92efb );; /* Set the color of the indicator */
    z-index: 99; /* Make sure it stays on top */
  }
  .nav {
    margin-top: -1%;
    background-color: #0e041b;
    color: #e92efb;
    font-family: Caveat;
    position: relative;
    padding: 1%;
}