#scrollIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%; /* Start with 0% width */
    height: 4px; /* Adjust thickness of the bar */
    background-color: #0077b5; /* Set the color of the indicator */
    z-index: 99; /* Make sure it stays on top */
  }
  