<div class="socialLife">
    <hr style="color: #ef87cc;">
    <h1>  <i class="far fa-heart"></i> My social Life <i class="far fa-heart"></i>
    </h1> 
    <div class="images">
        <div class="class1">
            <div class="ligne1">
                <div>
                    <img class="img1" src="esprit.jpg" alt="">
                    <p>Code Blinders</p>
                </div>
                <div>
                    <img class="img1" src="ept.jpg" alt="">
                    <p>Ept 3.0<p>
                </div>
            </div> <br>
            <div class="ligne1">
                <div>
                    <img class="img1" src="codeherWays.jpg" alt="">
                    <p> Code Her Ways 2.0</p>
                    </div>
                <div>
                    <img class="img1" src="ecp.jpg" alt="">
                    <p> ECP 3.0</p>
                </div>
            </div>
        </div>
        <div class="class2">
            <img src="wintercup.jpg" alt="">
            <p> Winter Cup 5.0</p>
        </div>
    </div>
</div>