<div class="socialLife">
    <h1>My social Life</h1>
    <div class="images">
        <div class="class1">
            <div class="ligne1">
                <div><img class="img1" src="esprit.jpg" alt=""></div>
                <div><img class="img1" src="ept.jpg" alt=""></div>
            </div>
            <div class="ligne1">
                <div><img class="img1" src="codeherWays.jpg" alt=""></div>
                <div><img class="img1" src="ecp.jpg" alt=""></div>
            </div>
        </div>
        <div class="class2">
            <div class="img5"><img src="wintercup.jpg" alt=""></div>
        </div>
    </div>
</div>